<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My Test App</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @{
            Html.RenderPartial("_NavBar");
        }
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <div class="container">
        @{
            Html.RenderPartial("_Footer");
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/popperjs")*@
    @Scripts.Render("~/bundles/bootstrapjs")
    @RenderSection("scripts", required: false)
</body>
</html>
